@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* Primary-Colors */
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    /* Neutral-Colors */
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 55rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: var(--White);
    border-radius: 1.2rem;
    padding: 1rem;
    display: flex;
}

a {
    color: inherit;
}

img {
    display: block;
}

input {
    display: block;
}

input,
button {
    font-family: inherit;
}

input:focus,
button:focus {
    outline: none;
}

input[type=radio],
input[type=checkbox] {
    display: none !important;
}

.hidden-item {
    display: none !important;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--Magnolia);
    min-height: 100vh;
    position: relative;
}

p {
    font-size: 1rem;
}

.errMsg1 {
    color: red;
    position: absolute;
    top: 6rem;
    right: 5rem;
}

.errMsg2 {
    color: red;
    position: absolute;
    top: 12.5rem;
    right: 5rem;
}

.errMsg3 {
    color: red;
    position: absolute;
    top: 19rem;
    right: 5rem;
}

/* Sidebar */
.form-steps {
    position: relative;
}

.form-steps>ol {
    list-style: none;
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 2rem;
    left: 5rem;
}

.form-step {
    color: var(--White);
    text-transform: uppercase;
    font-size: 1rem;
    padding-left: .5rem;
}

.form-step>span>span {
    display: block;
    color: var(--Pastel-blue);
    font-size: .9rem;
}

.form-step:before {
    content: attr(data-number);
    border: 2px var(--White) solid;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-step.active:before {
    background-color: var(--Light-blue);
    color: var(--Marine-blue);
    border-color: transparent;
}

.step-container {
    background-color: var(--White);
    border-radius: 1rem;
    line-height: 1.5;
    position: relative;
    padding: 1rem 4rem;
    display: none !important;
}

.step-container.active {
    display: block !important;
}

.step-container:last-of-type.active {
    display: flex !important;
}

.step-subtitle {
    color: var(--Cool-gray);
}

.input-lbl {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: var(--Marine-blue);
    padding: 1rem 0;
    position: relative;
}

.input-field {
    width: 27rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    border-color: var(--Light-gray);
    border-style: solid;
    color: navy;
    padding: 0 1rem;
    outline: none;
}

.input-field:focus,
.input-field:hover {
    border-color: var(--Purplish-blue);
}

.req-input {
    border-color: var(--Strawberry-red);
}

.input-field::placeholder {
    color: var(--Cool-gray);
}

.form-btns {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    background: var(--White);
    bottom: 0;
    width: 60%;
}

#backBtn {
    font-size: .9rem;
}

.btn {
    border: none;
    padding: 14px 18px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.primary {
    background-color: var(--Marine-blue);
    color: var(--White);
}

.secondary {
    background: none;
    color: var(--Cool-gray);
}

.purple {
    background-color: var(--Purplish-blue);
    color: var(--White);
}

.btn:hover,
.btn:focus,
.btn:active {
    filter: brightness(1.2);
}

.secondary:hover,
.secondary:focus,
.secondary:active {
    color: var(--Marine-blue);
}

main[area-current="0"] .form-btns {
    justify-content: flex-end;
}

.form-btns>*:last-child {
    display: none;
}

.form-steps>ol {
    flex-direction: column;
}

.form-step:before {
    position: absolute;
    left: -3rem;
}

.card-container {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.plan-card {
    margin: 0%;
    flex-direction: column;
    width: calc(100% / 3);
}

.plan-card .card-content {
    width: 100%;
}

/*   Step 2      */

/* PLAN CARD  */
.card {
    border: 1px solid var(--Light-gray);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    line-height: 2;
    height: 11rem;
    width: 9rem;
    align-items: flex-start;
}

.card:hover,
.card:focus,
.card:active {
    border-color: var(--Purplish-blue);
}

.card:has(input:checked) {
    border-color: var(--Purplish-blue);
    background-color: var(--Alabaster);
}

.card-description {
    color: var(--Cool-gray);
}

.card-description strong {
    display: block;
    color: var(--Marine-blue);
    font-weight: 400;
}

form:not(:has(#plan-period:checked)) .card-description strong {
    display: none;
}

.card-price::before {
    content: attr(data-price);
}

.card-price::after {
    content: 'mo';
}

form:has(#plan-period:checked) .card-price::before {
    content: attr(data-price)'0';
}

form:has(#plan-period:checked) .card-price::after {
    content: 'yr';
}

/* FORM ROW  */
.form-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--Alabaster);
    color: var(--Marine-blue);
    height: 3rem;
    margin-top: 3rem;
    border-radius: 1rem;
}

/* Check Toggle  */
.toggle {
    height: 1.5rem;
    width: 2.8rem;
    background-color: var(--Marine-blue);
    border-radius: 1rem;
    position: relative;
}

.toggle::before {
    content: ' ';
    height: 1.1rem;
    width: 1.2rem;
    background-color: var(--White);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: all .5s ease-out;
}

form:has(#plan-period:checked) .toggle::before {
    left: 1.5rem;
}

.toggle+span {
    color: var(--Cool-gray);
}

/*   Step 3      */
.service-card {
    align-items: center;
}

/* CHECKBOX  */
.checkToggle {
    height: 1.5rem;
    width: 1.5rem;
    min-width: 1rem;
    border: 1px solid var(--Cool-gray);
    border-radius: .5rem;
    position: relative;
}

input[type="checkbox"]:checked+.checkToggle {
    background-color: var(--Purplish-blue);
    border-color: transparent;
}

input[type="checkbox"]:checked+.checkToggle::before {
    content: '\2713';
    font-size: 1.5rem;
    color: var(--White);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-card {
    height: 5rem;
    width: 27rem;
    margin-top: 2rem;
}

.service-card .card-title {
    font-size: 1rem;
}

.service-card span:last-of-type {
    color: var(--Purplish-blue);
    font-size: .9rem;
    margin-left: auto;
}

/*   StEP 4    */
.summary-container {
    background-color: var(--Alabaster);
    padding: 1rem;
    border-radius: 1rem;
    list-style: none;

}

.summary-container li {
    color: var(--Cool-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.summary-container li h4 {
    font-size: 1.2rem;
    color: var(--Marine-blue);
}

.summary-container li strong {
    color: var(--Marine-blue);
}

.summary-container li:first-of-type {
    border-bottom: 1px var(--Light-gray) solid;
    padding-bottom: 1rem;
}

.summary-container li:not(:last-child) {
    margin-bottom: 1rem;
}

.summary-price {
    padding: 1.2rem 1rem 0;
    color: var(--Cool-gray);
    display: flex;
    justify-content: space-between;
}

.summary-price strong {
    margin-left: auto;
    color: var(--Purplish-blue);
    font-size: 1rem;
}

/*      STEP 5    */
.step-container:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.step-container:last-of-type .step-subtitle {
    font-size: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 100px 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media all and (max-width:375px) {

    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Ubuntu', sans-serif;
        background-color: var(--Magnolia);
        min-height: 100vh;
        position: relative;
    }

    .container {
        background-image: url("assets/images/bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        background-color: var(--Purpilish-blue);
        border-radius: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        display: block;
        position: absolute;
        top: -9.5rem;
        padding: 2rem;
    }

    .form-steps ol {
        padding: 2rem;
        flex-direction: row;
        gap: 1rem;
        position: static;
        left: auto;
    }

    .mobile-hidden {
        display: none;
    }

    .form-step:before {
        position: static;
        left: auto;
    }

    .step-container {
        padding: 0;
        margin: 0;
        display: block;
    }

    .step-container.active {
        display: block !important;
    }

    .card {
     height: 5rem;
     margin-bottom: 1rem;
    }

    .card-content {
        position: absolute;
        left: 5rem;
        margin-top: -rem;
        line-height: 1.5;
    }

    .form-btns {
        position: relative;
        display: block;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem;
        background: var(--White);
        bottom: 0;
        width: 10rem;
    }

    #backBtn {
        font-size: .9rem;
        text-align: center;
    }

    .btn {
        width: 10rem;
        padding: 14px 18px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin-top: 1rem;
    }

    .form-step>span>span {
        display: block;
        color: var(--Pastel-blue);
        font-size: .9rem;
    }

    .form-step.active:before {
        background-color: var(--Light-blue);
        color: var(--Marine-blue);
        border-color: transparent;
    }

    .input-field {
        width: 100%;
        height: 3rem;
        border-radius: 1rem;
        font-size: 1.2rem;
        border-color: var(--Light-gray);
        border-style: solid;
        color: navy;
        padding: 0 1rem;
        outline: none;
        margin-top: 1rem;
    }

    .input-field:focus,
    .input-field:hover {
        border-color: var(--Purplish-blue);
    }

    .req-input {
        border-color: var(--Strawberry-red);
    }

    .form-btns>*:last-child {
        margin-top: 1rem;
    }

    .card-container {
        display: block;
        margin-top: 1rem;
    }

    .plan-card {
        width: 100%;
        margin-top: 0;
    }

    .card-price::before {
        content: attr(data-price);
    }

    .form-row {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .toggle {
        width: 100%;
    }

    .toggle::before {
        left: 1.5rem;
    }

    .checkToggle {
        width: 10rem;
        margin-top: 1rem;
    }

    .service-card {
        width: 15rem;
        margin-top: 1rem;
    }

    .summary-container {
        padding: 1rem;
    }

    .summary-container li:first-of-type {
        border-bottom: 1px var(--Light-gray) solid;
        padding-bottom: 1rem;
    }

    .step-container:last-of-type {
        text-align: center;
    }

}