* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    padding: 1rem;
    border: 0 solid;
    background-color: white;
    border-radius: 10px;
    width: 55rem;
}

.img-container {
    position: relative;
}

.step-container {
    position: absolute;
    top: 0;
    padding: 2rem;
    list-style: none;
    color: white;
}

.step-list {
    display: flex;
}

.step-para {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 50%;
}

.step1 {
    background-color: aliceblue;
    color: black;
}

.step {
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.step span {
    color: rgb(180, 180, 180);
    font-size: .8rem;
}

/* STEP-1 PERSONAL INFO START */

.info-container {
    padding: 2rem 5rem;
    line-height: 1.5;
    font-size: 1.2rem;
    position: relative;
}

.heading {
    font-size: 2rem;
    color: navy;
}

.info-para {
    color: rgb(130, 130, 130);
    font-weight: lighter;
    font-size: 1rem;
}

#main1 form {
    padding-top: 2rem;
    line-height: 2;
}

#nameErrMsg,
#emailErrMsg,
#numberErrMsg {
    font-size: 1rem;
    margin-top: -1.1rem;
    float: right;
    color: red;
}

#container input {
    cursor: pointer;
    font-size: 1rem;
    padding: .7rem;
    border: 1px solid lightgrey;
    border-radius: .5rem;
    width: 27rem;
    color: navy;
}

#main1 input:hover {
    border: 1px solid blue;
}

#name,
#email,
#number:focus {
    outline: none;
}

#number::-webkit-outer-spin-button,
#number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#main1 label {
    color: navy;
}

.next-step {
    cursor: pointer;
    border: 0 solid;
    border-radius: .3rem;
    background-color: rgb(9, 9, 57);
    color: white;
    font-size: 1rem;
    padding: .7rem;
    width: 7rem;
    position: absolute;
    bottom: 1rem;
    left: 25rem;
}

/* STEP-1 INFO END */

/* STEP-2 SELECT PLAN START */

.monthly-plans-container {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    column-gap: 1rem;
}

.plans-list {
    border: 1px solid lightgrey;
    border-radius: .5rem;
    padding: 1rem;
    height: 12rem;
    width: 8.4rem;
}

.plans-list h4,
span {
    padding-top: 1.5rem;
}

.plans-list p {
    padding-top: .5rem;
    font-size: .95rem;
}

.para {
    display: none;
}

.plans-list span {
    color: rgb(180, 180, 180);
    font-size: 1rem;
}

.plans-list:hover {
    cursor: pointer;
    border-color: blue;
}

.toggle-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    text-align: center;
    width: 27rem;
    height: 3rem;
}

.toggle-label {
    padding: 1rem;
    font-size: 1.2rem;
    color: rgb(130, 130, 130);
}

.switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: navy;
    transition: 0.3s;
    border-radius: 2rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    left: .1rem;
    bottom: .12rem;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: navy;
}

input:checked+.slider:before {
    transform: translateX(1.2rem);
}

.slider.round {
    border-radius: 1rem;
}

.slider.round:before {
    border-radius: 50%;
}

.plans-para {
    display: none;
    font-size: .9rem;
    color: navy;
    padding-top: .5rem;
}

.go-back {
    cursor: pointer;
    background-color: white;
    border: 0 solid;
    font-size: 1rem;
    position: absolute;
    bottom: 2rem;
    color: rgb(130, 130, 130);
}

.go-back:hover {
    color: navy;
}

/* STEP-2 END */

/* STEP-3 ADD-ONS START */

.add-ons-container {
    padding-top: 2rem;
}

.add-ons-list .online-service,
.storage,
.profile {
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: .7rem;
    width: 27rem;
    height: 5rem;
    padding: 1rem;
    font-size: .9rem;
    margin-bottom: 1rem;
    position: relative;
}

.add-ons-list div:hover {
    border: 1px solid blue;
}

.add-ons-list input {
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    top: 1.7rem;
}

#check1,
#check2,
#check3 {
    cursor: pointer;
    display: flex;
}

.add-ons-list label {
    cursor: pointer;
    color: navy;
    font-weight: 600;
    padding-left: 2rem;
}

.add-ons-list span {
    cursor: pointer;
    color: rgb(130, 130, 130);
    font-weight: 500;
}

.content {
    padding-left: 2rem;
}

.price-content {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1rem;
}

.add-ons-list .price-content {
    color: blue;
}

.price-content .price {
    color: blue;
}

/* STEP-3 END */

/* STEP-4 FINISHING UP START */

.finishing-up-container {
    padding-top: 2rem;
    font-size: 1rem;
}

.service-pricing {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: .7rem;
    width: 27rem;
}

.arcade,
.service,
.total {
    color: rgb(180, 180, 180);
}

.arcade {
    padding-bottom: .5rem;
}

.service {
    padding-top: .5rem;
}

hr {
    border: .1px solid rgb(180, 180, 180);
    border-top: .1px;
}

.total {
    padding: 2rem 1rem;
}

#step4-btn {
    background-color: blue;
}

/* STEP-4 END */

/* STEP-5 THANK YOU START */

.info-content {
    text-align: center;
    margin: auto;
    line-height: 1.5;
}

/* STEP-5 END */

#main2,
#main3,
#main4,
#main5 {
    display: none;
}

/* MOBILE  */
@media all and (max-width: 375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
        background-image: url(assets/images/bg-sidebar-mobile.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .desktop-img {
        display: none;
    }

    .main-container {
        width: fit-content;
        position: relative;
    }

    .step-container {
        display: flex;
        position: absolute;
        margin-top: -7rem;
    }

    .step-list {
        padding-left: 1.2rem;
    }

    .step {
        display: none;
    }

    .info-container {
        margin: 0;
        padding: 0;
        width: 20rem;
    }

    #container input {
        width: 19rem;
    }

    .next-step {
        position: absolute;
        left: 12rem;
        bottom: -5rem;
    }

    .monthly-plans-container,
    .yearly-plans-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 0;
    }

    #main2 .heading,
    .info-para {
        line-height: 1.1;
        padding-bottom: .5rem;
    }

    .yearly-plans-container {
        display: none;
    }

    .plans-list {
        display: flex;
        width: 20rem;
        height: 4.5rem;
        margin-bottom: 1rem;
        position: relative;
        line-height: 1.1;
    }

    .plans-list h4 {
        position: absolute;
        top: -1rem;
        left: 4rem;
    }

    .plans-list p {
        position: absolute;
        bottom: 0;
        left: 4rem;
    }

    .toggle-button-container {
        width: 20rem;
    }

    .go-back {
        position: absolute;
        left: 0;
        bottom: -5rem;
        background-color: transparent;
    }

    .add-ons-container {
        padding: 0;
        margin: 0;
    }

    #main3 .check-box{
        width: 20rem;
    }

    .finishing-up-container {
        padding: 1rem;
        margin: 0;
    }

    .service-pricing {
        width: 20rem;
    }

    #main5 {
        padding: 2.5rem;
    }
}